<ion-header class="flex justify-between">
  <ion-toolbar>
    <ion-title>Nueva Publicacion</ion-title>
  </ion-toolbar>
  <ion-card><a class="flex justify-center items-center" routerLink="/feed"><ion-icon class="w-7 h-7 " name="close-outline"></ion-icon></a></ion-card>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div>
    <img *ngIf = "image" [src]="image"/>
    <ion-icon *ngIf = "!image" name="images-outline"></ion-icon>
  </div>

  <div class="boton">
    <ion-button expand = "block" (click)="submit()">UPLOAD</ion-button>
  </div>
  
 
</ion-content>
