
<ion-content class="login-ion-content">

    <div class="card-container">
      
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Fill the following content to get started</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>

          <ion-label position="floating">User</ion-label>
          <ion-input name="nombre" type="text" required [(ngModel)]="usuario"></ion-input>

          <ion-label position="floating">Password</ion-label>
          <ion-input name="psw" type="password" required [(ngModel)]="pwd"></ion-input>

        </ion-card-content>
      
        <ion-button fill="clear" >Clear</ion-button>
        <ion-button fill="clear" (click)="submit()">Log in</ion-button>
      </ion-card>

    </div>

</ion-content>